@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-cluster {
  border-radius: 50%;
  background: rgba(0, 123, 255, 0.8);
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.cluster-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
}

.cluster-icon.small {
  background: rgba(0, 162, 255, 0.877);
}

.cluster-icon.medium {
  background: rgba(255, 193, 7, 0.8);
}

.cluster-icon.large {
  background: rgba(220, 53, 69, 0.8);
}

.leaflet-tooltip {
  font-size: 10px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.85);
  padding: 1px 3px;
  border-radius: 2px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.unrepaired-marker,
.searched-marker {
  animation: blink 1s infinite;
}

.village-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #4f46e5;
  font-size: 14px !important;
  font-weight: 800 !important;
  text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white;
}